<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home Page</title>
    <head>
    <body>
    <a href="/"><button>Home</button></a>
    <a href="/FavoriteWebsites"><button>Favorite Websites</button></a>
    <a href="/NYC"><button>NYC</button></a>
    
    <p>Hey Guys! Welcome to My Website(ish)</p>
    
    <ul>
      <image src="{{url_for('static', filename='images/me.jfif')}}">
      <li>My name is Nathan Ocampo, that's me^^</li>
      <li>I am currently a freshman</li>
      <li>My intended major is biomedical engineering</li>
    </ul>
    
    <p>Although this a beautiful website of me, here's my <a href="https://www.linkedin.com/in/nathan-rojas-ocampo">Linkedin</a> which looks slightly better.</p>
    
    </body>
</html>

