
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Favorite Websites</title>
    <head>
    <body>
    <a href="/"><button>Home</button></a>
    <a href="/FavoriteWebsites"><button>Favorite Websites</button></a>
    <a href="/NYC"><button>NYC</button></a>

    <p>Some of my favorite websites below:</p>
    <ul>
      <li><a href="https://www.columbia.edu/">Columbia</a></li>
      <li><a href="https://www.youtube.com/">Youtube</a></li>
    </ul>
    
    </body>
</html>

