<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home Page</title>
    <head>
    <body>
    <a href="/"><button>Home</button></a>
    <a href="/FavoriteWebsites"><button>Favorite Websites</button></a>
    <a href="/NYC"><button>NYC</button></a>
    
    <p>Hey Guys! Welcome to My Website(ish)</p>
    
    <ul>
      <image src="{{url_for('static', filename='images/me.jfif')}}">
      <li>My name is Nathan Ocampo, that's me^^</li>
      <li>I am currently a freshman</li>
      <li>My intended major is biomedical engineering</li>
    </ul>
    
    <p>Although this a beautiful website of me, here's my <a href="https://www.linkedin.com/in/nathan-rojas-ocampo">Linkedin</a> which looks slightly better.</p>
    
    <p>A quick review for my experince in E1006. I liked learning python very much.
    I had some exposure to comp sci in high school with a Java class and I found it very entertaining. I am sad though since I am a BME major and that means this is my last comp sci class. I do however want to keep learning so I will probably teach myself more this summer and attend some comp sci events on campus next year.</p>
    </body>
</html>

